<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue js</title>
    
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <h1>Hello Vue</h1>
    <div id="app">
            <!-- if- else  -->

            <!-- true or false checking  -->
            <h3 v-if="status">{{name}}-{{age}} - <span v-html="icon"></span>

            </h3>
            <h3 v-else>status => {{status}}</h3>

            <!-- mark checking  -->
            <p v-if="mark>=40 && mark<80">pass</p>
            <p v-else-if="mark<40">Fail</p>
            <p v-else>D</p>

            <hr>
            <!-- v:bind  -->
            <p v-bind:title="title">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel cupiditate praesentium officiis placeat, nemo eius iusto exercitationem quidem alias sed!</p>
            <img :src="photo" alt="">
            
            <!-- looping  -->
            <h4>My Fav Fruit</h4>
            <ul>
                <li v-for="fruit in favfruit">{{fruit}}</li>
            </ul>

            <!-- click  -->
            <button @click="count++">Add 1</button>
            <p>Count is: {{ count }}</p>

            <button @click="greet">Greet</button>
            <br>

            <input type="text" v-model="fname">
            <span>{{fname}}</span>
            <br>

            <form action="" @submit.prevent="savefriends">
                <input type="text" v-model.trim="ffname"><br>
                <input type="number" v-model.number="ffage"><br>
                <input type="radio" id="male" value="male" v-model="ffgender" />
                <label for="male">Male</label>

                <input type="radio" id="female" value="female" v-model="ffgender" />
                <label for="female">Female</label>
                <br>
                <input type="submit" value="save">
            </form>
    </div>

    <!-- testing  -->
    <!-- <div class="app">
        <h3>{{name}}-{{age}}</h3>
    </div> -->

    <script src="app.js"></script>
</body>
</html>